<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruit.task.master.core.mapper.task.TaskIssueMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.order_no,a.out_trade_no,a.order_money,a.bank_name,a.bank_card,a.account_name,a.order_status,
        a.picture_ads,a.my_bank_info,a.ascription_type,a.is_distribution,a.is_complete,a.check_status,a.check_info,
        a.data_explain,a.remark,
        a.curday,a.curhour,a.curminute,a.run_num,a.run_status,a.send_num,a.send_status,
        a.create_time,a.update_time,a.yn

    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                and a.order_status = #{orderStatus}
            </if>
            <if test="ascriptionType != null and ascriptionType != '' " >
                and a.ascription_type = #{ascriptionType}
            </if>
            <if test="isDistribution != null and isDistribution != '' " >
                and a.is_distribution = #{isDistribution}
            </if>
            <if test="isComplete != null and isComplete != '' " >
                and a.is_complete = #{isComplete}
            </if>
            <if test="checkStatus != null and checkStatus != '' " >
                and a.check_status = #{checkStatus}
            </if>
            <if test="whereCheckStatus != null and whereCheckStatus != '' " >
                and a.check_status = #{whereCheckStatus}
            </if>
            <if test="runNum != null and runNum != '' " >
                and a.run_num &lt; #{runNum}
            </if>
            <if test="runStatus != null and runStatus != '' " >
                and a.run_status &lt; #{runStatus}
            </if>
            <if test="sendNum != null and sendNum != '' " >
                and a.send_num &lt; #{sendNum}
            </if>
            <if test="sendStatus != null and sendStatus != '' " >
                and a.send_status &lt; #{sendStatus}
            </if>

            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 查询未跑的信息 -->
    <select id="getDataList" parameterType="Object" resultType="com.fruit.task.master.core.model.issue.IssueModel">
        select
        <include refid="Base_Column_List" />
        from tb_fr_issue a
        <include refid="Example_Where_Clause"/>
        limit #{limitNum}
    </select>

    <!-- 更新信息数据的状态成功、失败的结果 -->
    <update id="tb_fr_issue" parameterType="Object">
        UPDATE tb_fr_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="orderNo != null and orderNo != '' " >
                a.order_no = #{orderNo},
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                a.out_trade_no = #{outTradeNo},
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                a.order_money = #{orderMoney},
            </if>
            <if test="bankName != null and bankName != '' " >
                a.bank_name = #{bankName},
            </if>
            <if test="bankCard != null and bankCard != '' " >
                a.bank_card = #{bankCard},
            </if>
            <if test="accountName != null and accountName != '' " >
                a.account_name = #{accountName},
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                a.order_status = #{orderStatus},
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                a.picture_ads = #{pictureAds},
            </if>
            <if test="myBankInfo != null and myBankInfo != '' " >
                a.my_bank_info = #{myBankInfo},
            </if>
            <if test="ascriptionType != null and ascriptionType != '' " >
                a.ascription_type = #{ascriptionType},
            </if>
            <if test="isDistribution != null and isDistribution != '' " >
                a.is_distribution = #{isDistribution},
            </if>
            <if test="isComplete != null and isComplete != '' " >
                a.is_complete = #{isComplete},
            </if>
            <if test="checkStatus != null and checkStatus != '' " >
                a.check_status = #{checkStatus},
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                a.check_info = #{checkInfo},
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                a.data_explain = #{dataExplain},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{remark},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>






</mapper>