<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruit.task.master.core.mapper.task.TaskMonitorMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List_Order">
        a.id,a.bank_id,a.order_no,a.order_type,a.order_money,a.qr_code,a.out_trade_no,a.order_status,
        a.invalid_time,a.notify_url,a.bank_name,a.bank_card,a.account_name,a.bank_code,a.mobile_card_id,
        a.phone_num,a.account_id,a.merchant_name,a.channel_id,a.channel_name,a.replenish_type,a.work_type,
        a.data_explain,a.remark,
        a.curday,a.curhour,a.curminute,a.run_num,a.run_status,a.send_num,a.send_status,
        a.create_time,a.update_time,a.yn

    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause_Order">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="bankId != null and bankId != '' " >
                and a.bank_id = #{bankId}
            </if>
            <if test="orderType != null and orderType != '' " >
                and a.order_type = #{orderType}
            </if>
            <if test="orderStatusStr != null and orderStatusStr != '' " >
                and a.order_status >= #{orderStatusStr}
            </if>
            <if test="curday != null and curday != '' " >
                and a.curday = #{curday}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 排序条件 -->
    <sql id="Example_Order_By_Order">
        order by a.create_time desc
    </sql>

    <!-- 获取银行卡ID集合 -->
    <select id="getBankIdListByOrder" parameterType="Object" resultType="java.lang.Long">
        select
        DISTINCT(a.bank_id) as bank_id
        from tb_fr_order a
        <include refid="Example_Where_Clause_Order"/>
    </select>


    <!-- 获取订单信息 -->
    <select id="getOrderList" parameterType="Object" resultType="com.fruit.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List_Order" />
        from tb_fr_order a
        <include refid="Example_Where_Clause_Order"/>
        order by a.create_time desc
        limit #{limitNum}
    </select>





</mapper>